<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS de Lightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">

    <!-- JavaScript de Lightbox (Debe estar después de jQuery) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <title>Galería - Mi Sitio Web de GitHub</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script defer src="../js/galeria.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/Logo.png" alt="Logo de Mi Sitio Web">
            <h1>Mi Sitio Web de GitHub</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="views/galeria.html">Galería</a></li>
                <li><a href="views/presupuesto.html">Presupuesto</a></li>
                <li><a href="views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Galería de Imágenes</h2>
        <div id="gallery"></div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="social-icons">
                <!-- Aquí van los iconos de redes sociales -->
                <a href="https://www.facebook.com" target="_blank"><img src="img/facebook-icon.png" alt="Facebook"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="img/twitter-icon.png" alt="Twitter"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="img/instagram-icon.png" alt="Instagram"></a>
            </div>
            <p>Dirección: Calle Ficticia 123, Ciudad, País</p>
            <p>Email: contacto@misitioweb.com</p>
            <p><a href="aviso-legal.html">Aviso Legal</a></p>
        </div>
    </footer>
</body>
</html>


